# If you rewrite .project.envrc, exec `direnv allow` to reload env.

export DB_HOST=db
export DB_USER=dev
export DB_PASSWORD=dev

export TEST_DB_HOST=db_test
export TEST_DB_USER=test
export TEST_DB_PASSWORD=test

if [ -f .project.envrc  ]; then
  source .project.envrc
else
  echo "Error: .project.envrc is not found."
  touch .project.envrc
  echo "export APP_ENV=local" >> .project.envrc
  echo "=> create .project.envrc"
  echo "please set your settings."
  echo ""
fi